*{
        margin: 0;
        padding: 0;
        /* color:black; */
}

img {
            width: 30%;
            background-repeat: no-repeat;

            margin: 0;
              padding: 0%; 
              object-fit: cover;  

}
.move{
  
            position: relative;
            height: 100%;
            width: 100%;
            font-size: larger;
            margin-top: 100px;
            margin-bottom: 100px; 
            text-align: justify;

  
}
.mainContaner{
            background-image: url('image/plandrow.jpeg');
            /* background-color:#7ac3f7 ; */
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 100%;
            width: 100%;
   
            object-fit: cover;  text-align: justify;
 
}

.mainContaner1{
            background-image: url('image/shrika.jpeg');
            background-repeat: no-repeat;
            background-size: cover; 
            background-attachment: fixed;  
            text-align: justify; 

}
.hello{
            font-size: 50px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            /* backdrop-filter: blur(10px); */
            /* Blur the background */
            
  
}
.falcon{
              font-size: 100%;
              font-weight: bold;
              font-family: 'Courier New', Courier, monospace;
              
              /* letter-spacing: 1cap; */
              word-spacing: 2%;
              
              text-align: center;
              text-shadow: 6px 6px 7px rgb(6, 6, 6);

}
.navvv{
                /* text-decoration: underline; */
                letter-spacing: 2px;
                word-spacing: 28px;
                text-align: center;
                text-shadow: 6px 6px 7px rgba(255, 12, 12, 0.3);
                
}
 .fireWork1{
  
              text-align: center;
              font-weight: bold;
              font-family: 'Courier New', Courier, monospace;
              text-shadow: 5px 7px 6px black;
              margin:0;
              padding: 0;
              
 }
.mainContaner20{
              background-origin: padding-box;
              border-radius: 1%;
              border-color: aqua;
}



 .how-section1{
              margin-top:-15%;
              padding: 10%;
}
.how-section1 h4{
              color: #ffa500;
              font-weight: bold;
              font-size: 30px;
            
}
.fireWork3 li{
  color: #ffa500;font-weight: bold;
 
}
.fireWork3 h4{
  color: #000000;font-weight: bold;
 
}

.how-section1 .subheading{
                color: #3931af;
                font-size: 20px;
}
.how-section1 .row
{
                margin-top: 10%;      
}
.how-img{
                text-align: center;
  
}
.how-img img{
                 width: 80%;
                height: 100%;
                    box-shadow: 10px 10px;
                      box-shadow: 10px 10px 5px 12px lightblue;
}
.h4
{
  color: black;
  font: 1em sans-serif;
}

.abot{
  /* background-image: url('image/shrika.jpeg'); */
  background-image: url('image/building.jpeg');
  /* background-color: #f59f00; */
  background-repeat: no-repeat;
  background-size: cover; 
   /* background-attachment: fixed;   */
  text-align: justify; 
  
}
.falcon.li{
  color: #ffa500;
}

/* 
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.stick-left-nav-ul {
  padding-left: 20px;
  width: 95px;
}
.stick-left-nav-ul {
  padding-left: 20px;
  width: 95px;}
.ol, ul {
  margin-top: 0;
  margin-bottom: 10px;}

.ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;} */

  .new{
    background-image: url('image/shrika.jpeg');
            /* background-color:#7ac3f7 ; */
            background-repeat: no-repeat;
            background-size: cover;          
            height: 100%;
            width: 100%;
            object-fit: cover;  text-align: justify;
  }
  .now{
    /* margin: 0%; */
    padding: 20%;
    padding-left: 5%;
    padding-top: 12%;

  }
  .fot{
    padding: 15%;
    
      }